 /* DEFAULT */

* {
    margin: 0px;
    padding: 0px;
}

/* COLORS */
/* color: #f2dfd7 champagne pink */
/* color: #FEF9FF ghost white; */
/* color: #D4C1EC thistle; */
/* color: #9F9FED tropical indigo; */
/* color: #736CED medium slate blue; */

 /* NAVBAR */

header {
    width: 100%;
    position: fixed;
    z-index: 100;
  }

.navbar-img {
    width: auto;
    height: 30px;
    margin-right: 10px;
}
.navbar-img:hover {
  background: #D4C1EC;
}
.navbar-brand:hover {
  background: #D4C1EC;
}

.nav-item:hover {
  background: #D4C1EC;
}

 /* HEADER AFTER NAVBAR */
.header {
  padding-top: 80px;
  }


h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

section {
    margin-top: 50px;
}


footer {
    width: 100%;
    height: auto;
    background-color: #736CED;
    position: absolute;
    z-index: 100;

}