 /* DEFAULT */

* {
    margin: 0px;
    padding: 0px;
}

/* COLORS */
/* color: #f2dfd7 champagne pink */
/* color: #FEF9FF ghost white; */
/* color: #D4C1EC thistle; */
/* color: #9F9FED tropical indigo; */
/* color: #736CED medium slate blue; */

 /* NAVBAR */

header {
    width: 100%;
    position: fixed;
    z-index: 100;
  }

.navbar-img {
    width: auto;
    height: 30px;
    margin-right: 10px;
}
.navbar-img:hover {
  background: #D4C1EC;
}
.navbar-brand:hover {
  background: #D4C1EC;
}

.nav-item:hover {
  background: #D4C1EC;
}

 /* HEADER AFTER NAVBAR */
.header {
  padding-top: 80px;
  }


h2 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.contenedor {
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  justify-content: space-around;
}

.elemento {
    width: 25.00%;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elemento img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
  }
  
  .elemento h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .elemento p {
    font-size: 1rem;
  }

section {
    margin-top: 50px;
}

.elemento-curso {
    width: 40.00%;
    margin: 10px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.elemento-curso img {
    width: 100%;
    height: 100%;
}
.elemento-curso h2 {
    color: #736CED;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    padding: 5px;
    
    font-weight:bold; 
}
.elemento-curso p {
    font-size: 25px;
    text-align: center; 
}
.elemento-curso a {
    text-align: center; 
    width: 15.00%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    color: #FEF9FF;
    font-weight:bold;
    font-size: 20px;
    background-color: #736CED;
    text-decoration: none;
}
.elemento-curso a:hover {
    background-color: #D4C1EC;
}

.footer {
    display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  justify-content: space-around;
 
}

.elemento-footer {
    width: 40.00%;
    margin: 10px;
    padding: 20px;
    /* border: 1px solid #ccc; */
    /* border-radius: 5px; */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer {
    width: 100%;
    height: auto;
    background-color: #736CED;
    position: absolute;
    z-index: 100;

}
.elemento-footer img {
    width: 100%;
    height: 100%;
    /* background-color: #FEF9FF; */
}
.elemento-footer h2 {
    color: #FEF9FF;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 25px;
    padding: 5px;
    text-align: center;
    font-weight:bold; 
}

.elemento-footer a {
    text-align: center; 
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-size: 20px;
    background-color: #D4C1EC;
    text-decoration: none;
}
.elemento-footer a:hover {
    background-color: #FEF9FF;
}

.elemento-footer input {
    margin: 5px;
    width: 80%;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
}

.text-area{
    margin: 5px;
    width: 80%;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px;
    min-height: 3em; /* Establece un mínimo de 3 líneas */
    height: auto; /* Permite que la altura del textarea se ajuste automáticamente */
    overflow: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
    word-wrap: break-word; /* Evita que las palabras se desborden del área visible */
}